@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
  --auth-gradient: linear-gradient(
    180deg,
    rgba(251, 254, 249, 0.4),
    rgba(229, 247, 218, 0.4) 100%
  );
}

/* always run in light mode. no matter the device or the browser theme preference */
@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

@theme inline {
  --primary-color: #004d3f;
  --secondary-color: #a7eb94;
  --primary-text: #ffffff;
  --primary-shadow: 0 4px 12px -2px rgba(31, 130, 94, 0.72);
  --primary-border: #004d3f;
  --secondary-background: #e7f9de;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--primary-text);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-btn:hover {
  border: 1px solid var(--primary-border);
  box-shadow: var(--primary-shadow);
  background-color: white;
  color: black;
  animation-duration: 500ms;
}

.secondary-btn {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-border);
  cursor: pointer;
  transition: all 0.3s ease;
}

.secondary-btn:hover {
  border: 1px solid var(--primary-border);
  background-color: var(--primary-color);
  box-shadow: var(--primary-shadow);
  color: white;
  animation-duration: 500ms;
}

/* auth background gradient color */
.auth-bg {
  background: linear-gradient(
    180deg,
    rgba(251, 254, 249, 0.4),
    rgba(229, 247, 218, 0.4) 100%
  );
}

/* form gradient color */
.auth-form-bg {
  background: linear-gradient(
    180deg,
    rgba(249, 254, 246, 1) 26%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  font: black;
  color: var(--foreground);
  font-family: "Raleway", sans-serif;
}
.section-padding-x {
  padding-left: 16px;
  padding-right: 16px;
}

.section-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Small screens */
@media screen and (min-width: 480px) {
  .section-padding-x {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-padding-y {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

/* Medium screens */
@media screen and (min-width: 768px) {
  .section-padding-x {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-padding-y {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .section-padding-x {
    padding-left: 80px;
    padding-right: 80px;
  }
  .section-padding-y {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/* Extra large screens */
@media screen and (min-width: 1280px) {
  .section-padding-x {
    padding-left: 120px;
    padding-right: 120px;
  }
  .section-padding-y {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

/* Ultra large screens */
@media screen and (min-width: 1460px) {
  .section-padding-x {
    padding-left: 150px;
    padding-right: 150px;
  }
  .section-padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
